<script>
    console.log("hi 1");
</script>

<h1>Products Management Page</h1>

<%= debug @produts %>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Product Value</th>
            <th scope="col">Currency</th>
            <th scope="col">Updated</th>
            <th scope="col" class='width-15'>Action</th>
        </tr>
    </thead>

    <tbody> 
        <tr>
            <td scope="row">1</td>
            <td scope="row">2</td>
            <td scope="row">3</td>
            <td scope="row">4</td>
            <td scope="row">5</td>
        </tr>
    </tbody>
</table>

<% for item in @produts %>
    <% item.product_name %> <br>
<% end %>
